
    .btn {
        background-color: #4CAF50;
        size: 900px;
        color: white;
        padding: 16px;
        font-size: 16px;
        border: solid black 1px;
        cursor: pointer;
    }

body {
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

.dropbtn {
    background-color: #4CAF50;
    size: 1000px;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: solid black 1px;
    cursor: pointer;
}

.dropbtn:hover,
.dropbtn:focus {
    background-color: #2980B9;
}

.dropdown {
    position: relative;
    display: inline-block;
}

div.menu {
    height: 100px;
    width: 200px;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    background-color: #ddd
}

.show {
    display: block;
}

parent {
    display: grid;
    grid-template-columns: 0.3fr 1fr;
    grid-template-rows: 1fr;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
}

.div1 {
    grid-area: 1 / 1 / 2 / 2;
}

.div2 {
    grid-area: 1 / 2 / 2 / 3;
}

table,
th,
td {
    border: 2px solid black;
    border-collapse: collapse;
    float: center;
}

th,
td {
    padding: 5px;
}

th {
    text-align: left;
}